.avatar-container {
   
    width: 30%;
    height: auto;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    border: 2px solid #161515; /* Add border with desired properties */
    border-radius: 8px; /* Add border radius for rounded corners */
    padding: 10px; /* Add padding for spacing */
  }
  
.avatar{
    width: 40%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
}